pub mod descriptor;
pub mod handlers;
pub mod model;
pub mod store;

#[allow(unused_imports)]
pub use model::{{ entity_pascal }};
#[allow(unused_imports)]
pub use store::{InMemory{{ entity_pascal }}Store, {{ entity_pascal }}Store, {{ entity_pascal }}StoreError};
